<!DOCTYPE html>
<html lang="en">
<head>
    <title>Using Public API capstone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
    <% if (!locals.lexicon){ %>
        <form action="/Search" method="post">
            <input type="text" name="word" id="name" placeholder="Search a word or phrase">
            <button type="submit">Search</button>
        </form>
    <% } else { %>
        <form action="/Search" method="post">
            <input type="text" name="word" id="name" placeholder="Search a word or phrase">
            <button type="submit">Search</button>
        </form>
        
        <article class="dictionary-entry">
            <header>
                <div class="word-header">
                    <button type = "button" class="audio-button" aria-label="Play pronunciation">
                        <img src="/image/volume icon.png" alt="volume icon" height="24px" width="24px">
                    </button>
                     <h2><%=lexicon.hw %></h2>
                </div>
                <% const phonetics ='/' + lexicon.pho + '/' %>
                <p class="phonetic"><%=phonetics%></p>
            </header>

            <% const lexiconMeaning = lexicon.meaning %>
            <% lexiconMeaning.forEach((meaning) => { %> 
            <section class="sense-group">
            <h4 class="pos"><%=meaning.pos%></h4>
            <ul class="definition-list">
                <% const definitions = meaning.def %>
                <% definitions.forEach((definition) => { %> 
                <li>
                    <p class="definition">
                    <%=definition %>
                    </p>
                </li>
                <% }); %>
            </ul>
           </section>
           <% }); %>
        </article>
    
    <% } %>

    <script>
        // construct audio URL
        const constructAudioURL = (value) => {
            // get subdirectory;
            let subdir = "";
            
            if (value.startsWith("bix")) {
                subdir = "bix";
            } else if (value.startsWith("gg")) {
                subdir = "gg";
            } else if (/^\d/.test(value)) {
                subdir = "number";
            } else {
                subdir = value[0];
            }
            // build the url
            return `https://media.merriam-webster.com/audio/prons/en/us/mp3/${subdir}/${value}.mp3`;
        };


        // Create method to play the pronunciation of the word
        const pronounceWord = async () => {
            // create audio object
            let constructedURL = await constructAudioURL("<%=locals.lexicon.sound%>"); 
            const audio = new Audio(constructedURL);

            // create event, & add listener
            document.querySelector('.audio-button').addEventListener('click', () => {
	            audio.play();
            });
        }

        pronounceWord(); 

    </script>
</body>
</html>